.profile {
    margin-left: 640px;
    margin-right: 540px;
    padding: 40px;
    color: brown;
    background-color: antiquewhite;
}

body {
    background-color: azure;
}

button {
    border: none;
    border-radius: 7px;
    font-size: 15px;
}

button:hover {
    background-color: darkcyan;
}

header {
    background-color: beige;
}

li {
    padding: 70px;
    display: inline;
}

a {
    text-decoration: none;
    color: darksalmon;
}

a:hover {
    color: chocolate;
}

.blocks {
    background-color: floralwhite;
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 1200px;
    padding-top: 10px;
}

.detail {
    margin-top: 24px;
    margin-left: 24px;
}

.avatar {
    width: 50px;
    height: 20px;
    margin-top: 150px;
    margin-left: 200px;
}