{% extends 'main/base.html' %}

{% block content %}
<form action="{% url 'search_results' %}" method="get">
    <input type="text" name="orders" placeholder="Поиск по названию заказа">
    {{ form.who_needs }}
    <input type="submit" value="Submit!"/>
</form>
<h1>Все заказы:</h1>
{% for order in orders %}
    <div class="blocks">
        <h2><a href="{% url 'order_detail' pk=order.pk %}">Заказ: {{ order.title }}</a></h2>
        <h3>Кто требуется: {{ order.get_who_needs_display }}</h3>
        <h4>Оплата: {{ order.price }}</h4>
        <h5>Автор: <a href="{% url 'profile' username=order.author %}">{{ order.author }}</a></h5>
    </div>
{% endfor %}
{% endblock %}